body {
    text-align: center;
}
#top-container {
    font-size: 35px;
    border: solid green 2px
}
#top-container > * {
    margin: 10px;
    cursor: pointer
}
main {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
